body {
    background-color: white;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dark-mode {
    background-color: black;
    color: white;
}

.warning{
    color: red;
    
}

.mainheader {
    color:yellow;
    background-color: green;
    border: 2px brown;
    border-radius: 10px;
    border-left: 50px;
    text-align: center;
}

.firstpara {
    color: crimson;
}

h6 {
    color:aliceblue;
}

.COOL {
    background-color: black;
    color: white;
}

.wings{
    color:black;
}

.johnxina{
    float: right;
}

.nuts{
    font-size: 20px;
    }

.image{
    max-width: 100%;
    max-height: 100%;
}

.damedonny {
    float: left;
}

.johnyakuza {
    float:left;
}

.baka-snow-halation-mitai {
    padding: 50px;
    padding-left: 500px;
}

